@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family:'Montserrat',sans-serif;
}

.smallsizetext{
    font-size: 11px;
    padding-top: 2px;
}

.font-Baskerville{
    font-family:'Libre Baskerville';
}


